body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
    display: block;
    /* width: 90%; */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* max-width: 1920px; */
    border-collapse: collapse;
    /* word-wrap: break-word; */
  }
  th,
  td {
    /* width: calc(100% / 8); */
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  button{
    margin-top: 20px;
  }
  